<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="logo">
            <img alt="logo" src="images/logo.png">
        </div>

        <%- include('menue') -%>

        <img src="images/settings.png" id="settings_icon">
        <script src="" async defer></script>
    </body>
    <div id="overlay"><div id="options" class='c1'></div></div>

    <div id="data"></div>
    <div id="update"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts/script1.js"></script>
</html>