<link rel="stylesheet" href="css/style1.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


<div id="menue">
    <button type="button" id="attendence_btn" class="menue_button">Report</button>
    <button type="button" id="users_btn" class="menue_button">Users</button>
    <button type="button" id="department_btn"class="menue_button">Department</button>
    <button type="button" id="account_btn"class="menue_button">
        Account
        <div id='dropdown_content'>
            <list>
                <li><a href="/updatePassword">Change Password</a></li>
                <li><a href="/profile/me">Profile</a></li>
            </list>
        </div>
    </button>
    <button type="button" id="update_btn" class="menue_button">Update</button>
    <button  id="logout_btn" class="menue_button">LogOut</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="scripts/script1.js"></script>