
<table>
    <tr>
        <% for(let i=0; i<data[0].length;i++){ %>
            <th class='first_row'>
                <%=data[0][i]%>
            </th>
        <% } %>
    </tr>
    <% for(let row=1; row<data.length; row++){ %>
        <tr>
            <%for(let col=0;col<data[row].length; col++){ %>
                <td>
                    <% if(data[0][col]=='User ID'){ %>
                        <a href=<%= 'profile/'+ data[row][col]%>><%=data[row][col]%> </a> 
                    <%} else {%>
                    <%=data[row][col]%>
                    <%}%>
                </td>
            <% } %>
        </tr>
    <% } %>
</table>