<link rel="stylesheet" href="css/login.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<%- include("menue"); -%>
<div class='formbox'>
    <h1>
        Change Password!
    </h1>
    <input type="password" placeholder="Current Password" ID="current_pwd">
    <div class=error id='pwd_err'></div>
    <input type="Password"  placeholder="New Password" ID="new_pwd">
    <div class="error" id="pwd_constraint_change"></div>
    <input type="password" placeholder="Confirm Password" ID="cnew_pwd">
    <div class="error" id="pwd_mismatch_change"></div>
    <button id="submit_change_password">Submit</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="scripts/updatePassword.js"></script>