#profile_pic{
    display: block;
    width: 15%;
    position: relative;
    padding:1em;
    border-radius: 1em;;
    background-color:white;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom:none;
}

img{
    width:50%;
    display: block;
    margin:auto;
}
#profile_pic form{
    display: block;
    width:100%;
    margin:auto;
}

#profile_pic form button{
    display: block;
    position: relative;
    width:100%;
    height: 5vh;
    transform: translate(-50%,0);
    left:50%;
    border-radius: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}
#profile_pic form input{
 
    width:100%;
    border:none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border-radius: 1em;
}

#user_info{
    display: block;
    position: relative;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20vh;
    border:none;
    padding:1em;
    background-color: white;
    opacity: 0.6;
    border-radius: 1em;
    margin-top:5vh;
}



body{
    background-color: #0E1720/*white(201, 250, 250)*/;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border:0;
    font-family: 'Montserrat', sans-serif;
}


#user_info label{
    margin:1em;
    padding:1em;
    display: inline-block;
    width:20%;
    font-weight: bold;
    overflow: auto;
}
#user_info input{
    padding:1em;
    width:50%;
    border:none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border-radius: 1em;
}
#err_email{
    color:red;
    text-align: center;
}

@media screen and (max-width: 660px){
    body{
        font-size:0.75em;
    }

    #profile_pic{
        width:80%
    }
    #user_info{
        width:80%;
    }
    
}


button{
    display: block;
    position: relative;
    width:20%;
    height: 5vh;
    transform: translate(-50%,0);
    left:50%;
    border-radius: 1em;
    font-weight: bold;
    margin-bottom: 2em;
}