body{
    background-color: #0E1720/*white(201, 250, 250)*/;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border:0;
    font-family: 'Montserrat', sans-serif;
}

#logo{
    display: none; /*block*/
    position: relative;
    height: 15vh;
    width: 100%;
}

#logo > img {
    display: none;
}

#menue{
    margin:none;
    padding: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:8vh;
    background-color:#174570; /*rgba(134, 195, 255, 0.8);*/
}


#menue > button{

    margin:none;
    width: 16.66666666666666666666%;
    height:100%;
    border:none;
    font-size: 1.5em;
    font-weight: bold;
}

#menue > button:hover{
    background-color: rgba(210, 232, 255, 0.8);
    color:white;
}
.menue_button{
    background-color:transparent;
    border-radius: 1em;
    color:white;
}

.selected_btn{
    background-color: #0E1720;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color:skyblue;
}

#menue > button:focus{
    outline:none;
    box-shadow:none;
}


#data{
    width: 80%;
    height: 80vh;
    margin:auto;
    margin-top: 2em;
    overflow: auto;
    padding:0.2em;
}
/*#data:empty{
    display:none;
}*/
#data > table{
    margin-top: auto;
    /*margin:0.1em;*/
    width:100%;/*99.7%;*/
    border-collapse: collapse;
}

td,th{
    
    color:rgb(199, 199, 199);
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    font-size:0.9em;
}
a{
    color:white;
}

tr:nth-child(odd){
    background-color: #2C70B3;
}
tr:nth-child(even){
    background-color:#225C96;
}
th{
    background-color: /*rgba(86, 170, 255, 0.8)*/#0D2944;
    color:white;
    position:sticky;
    top:0;
}

th:hover{
    background-color: rgba(133, 194, 255, 0.8);
}


#overlay{
    z-index: 90;
    display: none;
    position: fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    height:100vh;
    background-color: rgba(255,255,255,0.4);
}

.c1{
    /*border: solid thick rgba(86, 170, 255, 0.8);*/
    display: block;
    position: relative;
    margin:auto;
    margin-bottom: 2em;
    background-color: #0D2944;
    z-index: 100;
    width:40%;
    padding:1em;
    border-radius: 3%;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

#options{
    transform: translate(0, -50%); 
    top:50vh;
}
.c1 > h1{
    text-align: center;
    margin-bottom:2em;
    color:white;
}


.c1 > div {
    display:block;
    margin:auto;
    width:80%;
    margin-top: 1em;
}

.c1 > div > input{
    width:100%;
    height: 3vh;
    display:block;
    border:none;
    padding:0.5em;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
  
}


.c1 > div > label{
    color: rgb(199, 199, 199);
    display:block;
    margin-bottom: 0.2em;
    margin-left:none;
    padding-left:none;
}

.c1>div>select{
    display:block;
    width:100%;
    height:3vh;
    margin-bottom: 1em;
}


#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    padding-bottom: 3em;
}

#buttons > button{
    width:40%;
    height: 5vh;
    font-size: 1em;
    margin:auto;
    
}


/*#options:empty{
    display:none;
}*/

div:empty{
    display:none;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #update{
      display:none;
      margin:auto;
      margin-top: 3em;
      width:80%;
      height:120px;
  }




  ::-webkit-scrollbar {
    width: 0.75em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5em grey; 
    border-radius: 1em;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#0D2944; 
    border-radius: 1em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #16446F; 
  }

  #settings_icon{
      position: relative;
      top:0;
      left:0;
      margin:0;
      height: 5vh;
      display:none;
      filter:invert(.5)
  }
  #settings_icon:hover{
    filter:invert(1);
  }

  @media screen and (max-width: 660px){
        #menue button{
            font-size: .75em;
        }
        .c1{
            width:80%;
        }

        th{
            font-size:0.5em;
        }
        td{
            font-size: 0.5em;
        }
        #data{
            width:95%;
            height: 60vh;
        }

        ::-webkit-scrollbar {
            width: 0.25em;
          }
        #dropdown_content{
            font-size: 0.4em;
        }
  }

  .c1 > button{
    display:block;
    margin-top: 1em;
    margin-bottom: 2em;
    width:40%;
    height: 5vh;
    font-size: 1em;
    transform: translate(-50%,0);
    position: relative;
    left:50%;
  }

  .success{
      text-align: center;
      color:green;
  }
  .error{
      text-align:center;
      color:red;
  }


  #logout{
    display:block;
    margin-top: 1em;
    margin-bottom: 2em;
    width:40%;
    height: 5vh;
    font-size: 1em;
    transform: translate(-50%,0);
    position: relative;
    left:50%;
  }
  #dropdown_content{
      z-index: 101;
      display: none;
      position: absolute;
      background-color:rgba(210, 232, 255, 0.8) ;
      width:16.6666%;
      right:33.333%;
      top:8vh;
      text-align: center;
      border-bottom-left-radius: 1em;
      border-bottom-right-radius: 1em;
      font-size: 0.75em;
  }

  #dropdown_content li{
      padding:.5em;
      margin:.5em;
      list-style-type:none ;
      
  }
  #dropdown_content a{
    text-decoration: none;
    color: #0D2944;
  }
  #dropdown_content a:hover{
      color:white;
  }

  #account_btn:hover #dropdown_content{
    display: block;
    
  }
  #account_btn:hover{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }

  #successimg{
      display:block;
      width:20%;
      margin:auto;
  }
  .text{
    text-align: center;
    color:white;
  }